
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

body{

    box-sizing: border-box;
    height: 100vh;
    background-color: #ceddf0;
}

.principal{

   
    display: flex;
}

.Dispositivos{

    width: 90%;
    display: flex; 

}
.contenido_principal{

    width: 60%;
    flex-direction: column;
}

.miLogo{

    padding: 50px 0 0 40px;
    width: 100px;
}

.miTextArea{
    border-color: #ceddf0;
    resize: none;
    height: 150px;
    outline: none;
    display: flex;
    width: 70%;
    height: 300px;
    font-size: 1.5rem;
    margin: 50px 0 0 200px;
    color: #0A3871;
    background-color: #ceddf0;
}

.miTextArea2{
    
      font-size: 1.3rem;
      resize: none;
      background-color: white; 
      height: 350px;
      border-color: white; 
      outline: none;
      color: #0A3871;
}

.mensajeEncriptado{
  width: 100%;
  margin: 50px -100px 0 -285px; 
}

::placeholder{

    color: #0A3871;
}

.Botones{

    display: flex;
    width: 75%;
    margin: 80px 0 0 200px;
}
.boton1{

    width: 350px;
    height: 67px;
    font-size: 1rem;
    color: white;
    background-color: #0A3871;
    padding: 10px 0;
    border-radius: 24px;
    border-color: #0A3871;
}

.boton2{

    width: 350px;
    height: 67px;
    font-size: 1rem;
    color: #0A3871;
    background-color: #D8DFE8;
    padding: 10px 0;
    border-radius: 24px;
    border-color: #0A3871;
    margin: 0 0 0 30px;
}

.botonCopiar {

      margin: 500px 0 0 -150px; 
}
.boton3{

   
    width: 250px;
    height: 67px;
    font-size: 1rem;
    color: #0A3871;
    background-color: #D8DFE8;
    padding: 10px 0;
    border-radius: 24px;
    border-color: #0A3871; 
 
}

  .boton1:hover{

    background-color: rgb(19, 19, 228);
  }
  .boton2:hover{
  
    background-color: #b1cef3;
  }
  
  .boton3:hover{
  
    background-color: #b1cef3;
  }

.misImagenes{

  margin: 300px 0 0 230px;
}

.miRectangulo{

    margin: -300px 0 0 50px;
    width: 330px;
    height: 620px;
}

.miMuñeco{
    display: flex;
    width: 250px;
    margin: -500px 0 0 97px;
}

.signo{

    display: flex;
    height: 15px;
    margin: 500px 1100px 0 -1100px;
}

.mensaje_en_rectangulo{

    color: #343A40;
    font-size: 1.5rem;
    width: 200px; 
    text-align: center;
    margin: 400px 0 0 -260px;
}

.mensaje_en_rectangulo2{
    color: #343A40;
    font-size: 1.2rem;
    width: 280px; 
    text-align: center;
    margin: 50px 0 0 -300px;
}

.pieDeLaPagina{

    margin: 30px 0 0 100px;
    padding: 30px ;
    width: 50%;
    color:  #0A3871;
    text-align: center;
    font-size: 1.4rem;
    background-color: aliceblue;
    border: 10px solid #0A3871;
    border-radius: 30px;
}

.prohibir{


    height: 0;
}
.Prohibir_Mayusculas_Acentos{

    margin: 500px 0 0 -1080px;
  
    color: #394d66;
}

 @media(min-width: 320px) and (max-width: 600px){ /*Version movil*/
    .Dispositivos{

        display: flex;
        flex-direction: column;
        margin: 0 0 0 35px;
        gap: 20px;   
    }
    
    .miLogo{

        display: flex;
        padding: 20px;
        margin: 0 0 0 -60px;
    }
    .misImagenes{

      margin: 300px 0 0 -40px;
     
    }

    .miRectangulo{

         width: 75%;
        height: 300px;
    }

        .mensaje_en_rectangulo{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: 20px;
        color: #343A40;
        font-size: 1.5rem;
        width: 80%; 
        text-align: center;
        margin: -300px 0 0 17px;
        }
      .mensaje_en_rectangulo2{
        color: #343A40;
        font-size: 1.2rem;
        width:70%; 
        text-align: center;
        margin: 0 0 0 30px;

      }        

    .miTextArea{

        display: flex;
        margin: 40px 0 0 5px;
        width: 140%;
        gap: 130px;
        border: 5px solid  #0A3871;
        border-radius: 20px;
    }

    .miTextArea2{
        width: 67%;
        display: flex;  
        height: 150px;   
        margin: -350px 0px 0 320px;
        border-color: white ; 
        outline: none;
        color: #0A3871;
    }
    ::placeholder{

        padding: 20px;
    }
    .Botones{
        
        display: flex;
        flex-direction: column;
        width: 180%;
        margin: 60px 0 0 -15px ;
        gap: 20px
    }

    .boton1{

        width: 93%;
    }
    .boton2{
        
        width: 93%;
        margin: 0 0 0 0;
    }


    .boton3{

        width: 65%;
        margin: -180px 0 0 40px
    }

    .botonCopiar{

        margin: -160px 0 0 0;
    }
    
    .pieDeLaPagina{

        margin: 550px 0 0 50px;
    }
    .miMuñeco{

        display: none;
    }

    .Prohibir_Mayusculas_Acentos{

        margin: -537px 0 0 30px;
    }
    .signo{

    display: flex;
    width: 15px;
    margin: -555px 0px 0 0px;
    }
}

@media(min-width: 601px) and (max-width: 900px){ /* Version tablet */


    .Dispositivos{

        display: flex;
        flex-direction: column;
        width: 180%;
        gap: 20px;
    }

    .miLogo{
        padding: 50px 0 0 0;
    }

    .miTextArea{

        display: flex;
        margin: 30px 50px 0 130px;
        width: 140%;
        border: 2px solid  #0A3871;
        border-radius: 20px;
    }
    
    .miTextArea2{
       width: 55%; 
        display: flex;
        height: 140px;
        margin: -350px 0 0 630px;
        border-color: white; 
        outline: none;
        color: #0A3871;
    }
    ::placeholder{

        padding: 20px;
    }
    
    .Botones{
 
        margin: 70px 0 0 100px;
        width: 150%;
    }

    .boton1{

        width: 60%;
    }

    .boton2{

        width: 60%;
    }

    .boton3{

        width: 85%;
       
    }

    .botonCopiar{

     margin: -200px 0 0 230px
}
    .misImagenes{

         margin: 300px 0 0 -0px;        
    }
     .miRectangulo{

        margin-left: 35px;
        width: 100%;
        height: 300px;

     }

     .mensaje_en_rectangulo{
       color: #343A40;
       font-size: 1.9rem;
       width: 70%; 
       text-align: center;
       margin: -300px 0 0 240px;
     }

     .mensaje_en_rectangulo2{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: 20px;
        color: #343A40;
        font-size: 1.5rem;
        width:80%; 
        text-align: center;
        margin: 0 0 0 170px;

     }

     .pieDeLaPagina{
 
        width: 100%;
        margin: 480px 0 0 300px;
     }
     .miMuñeco{

        display: none;
     }
    
     .signo{
        display: flex;
        width: 15px;
        margin: -455px 0px 0 130px;
     }
     .Prohibir_Mayusculas_Acentos{

        margin: -440px 0 0 160px;
     }
}
